# Secrete și Mediu
.env
*.env

# Baze de date locale și Pickle
qdrant_db/
*.pkl

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Dataset-uri și fișiere JSONL
*.jsonl
jsonl/
lite/
full/
old_jsonl/
batches/
output/
job_batches/
job_output/

# Rapoarte EDA generate
dataset_eda_report.png